<div>
    <mat-card>
        <mat-card-header><h2>User Admin view</h2></mat-card-header>
        <mat-card-content>
            <div>
                <button mat-raised-button color="primary" class="add-button" (click)="addUser()">Add
                    User
                </button>
            </div>

            <mat-form-field class="wideInput" hintLabel="Type there anything to filter by, either ID, names or types">
                <input matInput (keyup)="applyFilter($event.target.value)" [value]="filterValue" placeholder="Filter">
            </mat-form-field>

            <mat-paginator #paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            <mat-table #rangeTable [dataSource]="userDataSource" matSort>
                <!-- Main Columns -->
                <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index">{{ column.cell(row, i) }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="deleteButton">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-button (click)="openDeleteDialog(row); $event.stopPropagation();">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayColumns;" (click)="selectRow(row)"></mat-row>
            </mat-table>
        </mat-card-content>
    </mat-card>
    <app-user-form></app-user-form>
</div>
